@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;800&display=swap');
*{
    padding: 0;
    margin: 0;    

}
body{
    background-color: #F1F5F8;
    font-family: 'Open Sans', sans-serif;
    line-height: 1.2;
}
.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.content{
    width: 100%;
    text-align: center;
}
.titulo{
    color: rgba(30, 30, 30,1);
    font-size: 3.0em;
}
.contador{
    color: rgba(30, 30, 30,1);
    font-size: 4.0em; 
    font-weight: 800;   
}
button{
    padding: 5px 30px;
    background-color: rgba(30, 30, 30,1);
    color: aliceblue;
    border: none;
    font-weight: 800;
    font-size: 1.2em;
    cursor: pointer
}
button:hover{
    background-color: rgba(30, 30, 30,0.8);
}